@import url("normalize.css");
@import url("grid.css");


/* Basic text Styles */
body {
	background: #fff;
	color: #000; 
	font-family: 'Open Sans', sans-serif;
}
a:link,
a:visited, 
#content a:link, 
dl.portlet a:link {
	color:#205C90;
}
a:hover {
	color:#000;
}



/* Theme styles */

#wrapper {
	margin: 0 auto;
	max-width: 100%;
	padding: 1em;
}

/* Navigation */
nav {
	margin: 1em 0;
}
nav ul {
	display: table;
	padding: 0;
}
nav li {
	border: 1px solid #f1f1f1;
	display: table-cell;
	width: 1%;
	text-align: center;
}
nav li a {
	display: block;
	line-height: 2em;
	text-decoration: none;
}

/********* RESPONSIVE **********/

/* Large desktop */
@media (min-width: 1200px) { ... }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { ... }
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { ... }
 
/* Landscape phones and down */
@media (max-width: 480px) { ... }