/* Reset */
html, body, body div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block;}


/* Basic styles */
body {
	background: #ffffff url(bg.jpg) top repeat-x;
	color: #000000; 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 62.5%;
}
a:link, a:visited, #content a:link, dl.portlet a:link {color:#205C90;}
a:hover {color:#000;}
h1 {color: #205C90;}
h2, h3, h4, h5, h6 {color: #636466;}

#wrapper { width:auto; margin: 0 auto; max-width: 90%;	font-size: 1.1em;}
#main {background:#fff; font-size: 1.3em; padding: 1em 0;}


/* header */
header {
background: transparent url(header.png) top center no-repeat;
background-size: 100% auto; 
position: relative;
}

#logo {padding: 4.83% 1.61%;float: left; width: 50%;}
#logo img {max-width:100%;}
#logo a {display:block; width:100%;}

#portal-personaltools {font-size: 1.1em;}

/* navigation */
nav {
	background: #205C90;	
	text-align: left; 
	color: #ffffff; 
	padding: 1em 2em 1em 0;
	font-size: 1.2em;
}
nav ul {padding-top: 0;}
nav li {display: inline;}
nav li a:link, nav li a:visited {color: #ffffff; padding: 1.1em 2em 1em 2em; text-decoration: none;}
nav a:hover, #nav li.selected a {padding-top: 1em; background: #ff9900;}


/* Searchbox */
#portal-searchbox {float: right; margin: 3.5%  1% 0 0; width:24%; font-size: 1em;}
#portal-searchbox  form, #portal-searchbox  form .LSBox  {font-size: 100%;}
#portal-searchbox #searchGadget {
	padding: 1.2% 0  1.1% 0;
	margin-right: 0.6%;
	text-indent: 2%;
	width: 72%;
	font-size:1.1em;
	border-width: 1px;
	border-style: solid;
	border-color: #597a97;
}
#portal-searchbox .searchButton {font-size:0.8em; width: 27%; padding:1.899% 0  0.8% 0; text-align:center;}
#LSResult {z-index:1; margin-top: 0.5%;}
#searchbt, nav #seletor {display:none;}
#portal-searchbox .searchButton {
	background:#636466;
	color: #ffffff;
	border-width: 1px;
	border-style: solid;
	border-color: #c8c8c9;
}


#content {font-size: 90%;}
p {line-height: 1.8em; margin: 0 0 1em 0;}
h1, h2, h3 {margin: 0.5em 0 0.5em;}
.hidden {display: none;} 
.clear {clear: both;}
.pb-ajax, .pb-image, 
.overlay iframe {font-size: 1.3em;}
div.overlay-iframe, div.overlay-ajax {left:11%!Important; width:75%;}
.portlet img, #content img {max-width:100%;}
/* lists */
#content li, dl.portlet li {
    display: list-item;
    line-height: 1.5em;
    list-style: square outside;
    margin-bottom: 0.25em;
}
#content ol li, dl.portlet ol li {list-style: decimal outside;}
dl.portlet ul.navTreeLevel0 > .navTreeItem {list-style: none;}





/*footer*/
footer {clear: left; padding: 2em;}
footer {background: #205C90; color: #fff;;}
footer a:link {color:#fff;;}
footer a:hover {color:#fff;;}
footer a:visited {color:#fff;;}

/* Site Actions */
#portal-siteactions {font-size: 100%; text-align: left; display:inline;}


/**** COLUMNS ****/
#content {position: relative;	overflow: hidden;}

/* 3 columns */
#main-content, #column-one, #column-two {float: left; position: relative;}
#main-content {left: 21%; width: 58%;}
#column-one {right: 58%; width: 21%;}
#column-two {width: 21%;}

